
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<main class="">

    <h2 class="text-center">LIST OF EXERCISE</h2>

    <ul class="list-unstyled">

        <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Tạo 1 trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin:
            Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện.
            <br />
            Khi người dùng ấn nút Đăng ký, ứng dụng cho phép lưu thông tin nhân viên vừa nhập vào file
            text và lưu ở Server(lưu cả hình về Server), ứng dụng cho phép mở thông tin của nhân viên
            vừa đăng ký hiển thị lại client web.
        </li>

        <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Tạo 1 trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin:
            Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện.
            <br />
            Khi người dùng ấn nút Đăng ký, ứng dụng cho phép lưu thông tin nhân viên vừa nhập vào file
            text và lưu ở Server(lưu cả hình về Server), ứng dụng cho phép mở thông tin của nhân viên
            vừa đăng ký hiển thị lại client web.
        </li>

        <li class="mb-1">
            <i class="fas fa-long-arrow-alt-right me-2 text-info"></i>Tạo 1 trang web cho phép đăng nhập vào email và gửi mail đến 1 địa chỉ khác (dùng mail yahoo
            hoặc gmail). Thông tin gửi mail bao gồm: địa chỉ mail người gửi, mật khẩu người gửi, địa chỉ
            mail cần gửi, tiêu đề, nội dung gửi.
            <i>Lưu ý, email phải nhập đúng định dạng và bắt buộc không được rỗng.</i>
        </li>
    </ul>





</main>